(setq
  liomacs/org-caldav-url
  "")

(setq
  liomacs/org-caldav-calendar-id
  "")

(setq
  liomacs/org-caldav-inbox
  "")

(setq
  liomacs/org-caldav-files
  '(""))

(setq
  liomacs/org-icalendar-timezone
  "")

(setq
  liomacs/org-caldav-calendars nil)


(provide 'secrets)